.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
/app/release/
*.jks
*.keystore
*.p12
keystore.properties
local.properties
.kotlin/
*.iml
.idea/
*.hprof
.DS_Store
Thumbs.db
app/src/main/jniLibs/
app/src/main/kotlin/uniffi/
